<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dearsanta.app.mapper.ReplyMapper">
    <insert id="createReply">
        INSERT INTO reply (
                           id,
                           user_id,
                           board_id,
                           content
        ) VALUES (
                  #{id},
                  #{userId},
                  #{boardId},
                  #{content}
                 )
    </insert>
    <select id="getReply">
        SELECT  reply.id,
                reply.user_id AS userId,
                member.nickname AS userNickname,
                member.img_url AS userImgUrl,
                reply.board_id AS boardId,
                reply.content,
                reply.created_date AS createDate,
                reply.updated_date AS updatedDate
        FROM    reply
        LEFT    JOIN member
        ON      reply.user_id = member.id
        WHERE   reply.id = #{replyId}
        AND     reply.is_deleted = 0
    </select>
    <select id="getReplyListWithPaging" parameterType="com.dearsanta.app.dto.Criteria" resultType="com.dearsanta.app.dto.ReplyDto">
        <![CDATA[
        SELECT
            id,
            userId,
            userNickname,
            userImgUrl,
            boardId,
            content,
            createDate,
            updatedDate
        FROM
            (
            SELECT  /*+ INDEX_DESC(reply ${criteria.sorted}) */
                    rownum AS rn,
                    reply.id,
                    reply.user_id AS userId,
                    member.nickname AS userNickname,
                    member.img_url AS userImgUrl,
                    reply.board_id AS boardId,
                    reply.content,
                    reply.created_date AS createDate,
                    reply.updated_date AS updatedDate
            FROM    reply
            LEFT    JOIN member
            ON      reply.user_id = member.id
            WHERE   reply.board_id = #{criteria.selectId}
            AND     reply.is_deleted = 0
            AND     ROWNUM <= #{criteria.pageNum} * #{criteria.pageSize}
            )
        WHERE   rn > (#{criteria.pageNum} - 1) * #{criteria.pageSize}
        ]]>
    </select>
    <update id="updateReply">
        UPDATE  reply
        SET     content = #{content},
                updated_date = sysdate
        WHERE   id = #{id}
    </update>
    <delete id="deleteReply">
        UPDATE  reply
        SET     is_deleted = 1
        WHERE   id = #{replyId}
    </delete>
</mapper>